.dpl-inl-flx{
    display: inline-flex;
}

.dpl-flx{
    display: flex;
}

.dpl-inl-blk{
    display: inline-block;
}

.dpl-blk{
    display: block;
}
.txt-cnt{
    text-align: center;
}
.alg-cnt{
    align-items: center;
}
.pointer {
    cursor: pointer;
}

.pst-abl{
    position: absolute
}

.pst-rel{
    position: relative;
}
